{erl_opts, [no_debug_info]}.
{deps, [
    hackney,
    jsx
]}.

{escript_incl_apps, [pokeapi_pokedex_api_scraping_script]}.
{escript_main_app, pokeapi_pokedex_api_scraping_script}.
{escript_name, pokeapi_pokedex_api_scraping_script}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
